* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 95, 95);
    height: 100vh;
}

input {
    width: 30%;
    text-align: center;
    padding: 10px;
    margin-top: 1%;
    border-radius: 10px;
    outline: none;
    font-size: 25px;
}
input[type=submit] {
    background-color: lightcoral;
    margin-top: 2%;
    width: 20%;
    color: white;
}